<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <nav>
        <a href="/lolchampions"><button>Back To The Lol Champions List</button></a>
    </nav>

    <h1><%= lolChampion.championName %></h1>

    <p>Level: <%= lolChampion.level %></p>
    <p>Role: <%= lolChampion.role %></p>
    <p>Ready To Battle: <%= lolChampion.readyToBattle %></p>

    <a href="/lolchampions/<%= lolChampion._id %>/edit">
        <button>Edit Lol Champion</button>    
    </a>

    <form method="POST" action="/lolchampions/<%= lolChampion._id %>?_method=DELETE">
        <input type="submit" name="" value="Delete Lol Champion" />
    </form>
</body>
</html>